Assignment on regression introduction week 2 coursera
https://www.coursera.org/learn/ml-foundations/supplement/RP8te/reading-predicting-house-prices-assignment

Selection and summary statistics: We found the zip code with the highest average house price. What is the average house price of that zip code?

In [1]:
import graphlab as gr

In [3]:
sales = gr.SFrame('home_data.gl/')
train_data,test_data = sales.random_split(.8,seed=0)

This non-commercial license of GraphLab Create for academic use is assigned to bssachingovind@gmail.com and will expire on September 18, 2017.

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: /tmp/graphlab_server_1474278548.log

In [4]:
sales.groupby('zipcode',mean('price'))

NameError: name 'mean' is not defined


Parameters:	
key_columns : string | list[string]

Column(s) to group by. Key columns can be of any type other than dictionary.

operations : dict, list

Dictionary of columns and aggregation operations. Each key is a output column name and each value is an aggregator. This can also be a list of aggregators, in which case column names will be automatically assigned.

*args

All other remaining arguments will be interpreted in the same way as the operations argument.

Returns:	
out_sf : SFrame

A new SFrame, with a column for each groupby column and each aggregation operation

>>> import graphlab.aggregate as agg
>>> url = 'https://static.turi.com/datasets/rating_data_example.csv'
>>> sf = graphlab.SFrame.read_csv(url)
>>> sf
+---------+----------+--------+
| user_id | movie_id | rating |
+---------+----------+--------+
|  25904  |   1663   |   3    |
|  25907  |   1663   |   3    |
|  25923  |   1663   |   3    |
|  25924  |   1663   |   3    |
|  25928  |   1663   |   2    |
|  25933  |   1663   |   4    |
|  25934  |   1663   |   4    |
|  25935  |   1663   |   4    |
|  25936  |   1663   |   5    |
|  25937  |   1663   |   2    |
|   ...   |   ...    |  ...   |
+---------+----------+--------+
[10000 rows x 3 columns]

>>> user_count = sf.groupby(key_columns='user_id',
...                         operations={'count': agg.COUNT()})
>>> user_count
+---------+-------+
| user_id | count |
+---------+-------+
|  62361  |   1   |
|  30727  |   1   |
|  40111  |   1   |
|  50513  |   1   |
|  35140  |   1   |
|  42352  |   1   |
|  29667  |   1   |
|  46242  |   1   |
|  58310  |   1   |
|  64614  |   1   |
|   ...   |  ...  |
+---------+-------+
[9852 rows x 2 columns]

In [5]:
import graphlab.aggregate as agg
zipmean = sales.groupby(key_columns='zipcode',operations={'mean': agg.MEAN('price')})

In [6]:
zipmean

Columns:
	zipcode	str
	mean	float

Rows: 70

Data:
+---------+---------------+
| zipcode |      mean     |
+---------+---------------+
|  98033  | 803719.532407 |
|  98032  |   251296.24   |
|  98065  | 527961.203226 |
|  98077  | 682774.878788 |
|  98144  | 594547.641399 |
|  98136  | 551688.673004 |
|  98115  |  619900.5506  |
|  98075  | 790576.668524 |
|  98034  | 521652.858716 |
|  98058  | 353608.635165 |
+---------+---------------+
[70 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [7]:
zipcode_max = max(zipmean['mean'])

In [8]:
zipcode_max

2160606.6

In [10]:
print zipmean[zipmean['mean']==2160606.6]

+---------+-----------+
| zipcode |    mean   |
+---------+-----------+
|  98039  | 2160606.6 |
+---------+-----------+
[? rows x 2 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

# Question 2 :Filtering data: What fraction of the houses have living space between 2000 sq.ft. and 4000 sq.ft.?

In [19]:
filter_sales = sales[sales['sqft_living']<4000]

In [20]:
filter_sales = filter_sales[filter_sales['sqft_living']>2000]

In [24]:
float(filter_sales.num_rows())/sales.num_rows()

0.4215518437977143

In [ ]:
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']
advanced_features = 
[
'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition', # condition of house				
'grade', # measure of quality of construction				
'waterfront', # waterfront property				
'view', # type of view				
'sqft_above', # square feet above ground				
'sqft_basement', # square feet in basement				
'yr_built', # the year built				
'yr_renovated', # the year renovated				
'lat', 'long', # the lat-long of the parcel				
'sqft_living15', # average sq.ft. of 15 nearest neighbors 				
'sqft_lot15', # average lot size of 15 nearest neighbors 
]

Compute the RMSE (root mean squared error) on the test_data for the model using just my_features, and for 
the one using advanced_features.
Note 1: both models must be trained on the original sales dataset, not the filtered one.

Note 2: when doing the train-test split, make sure you use seed=0, so you get the same training and test sets, 
    and thus results, as we do.

Note 3: in the module we discussed residual sum of squares (RSS) as an error metric for regression, but GraphLab 
    Create uses root mean squared error (RMSE).
These are two common measures of error regression, and RMSE is simply the square root of the mean RSS:
    
where N is the number of data points. RMSE can be more intuitive than RSS, since its units are the same as that of 
the 
target column in the data, in our case the unit is dollars ($), and doesn't grow with the number of data points, 
like the RSS does.

(Important note: when answering the question below using GraphLab Create, when you call the linear_regression.
 create() function, make sure you use the parameter validation_set=None, as done in the notebook you download above 
 When you use regression GraphLab Create, it sets aside a small random subset of the data to validate some 
 parameter.
 This process can cause fluctuations in the final RMSE, so we will avoid it to make sure everyone gets the same 
 answer.)

What is the difference in RMSE between the model trained with my_features and the one trained with 
advanced_features? Save this result to answer the quiz at the end.

In [25]:
train_data,test_data = sales.random_split(.8,seed=0)

In [27]:
sqft_model = gr.linear_regression.create(train_data, target='price', features=['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode'],validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 115

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 1.051231     | 3763208.270523     | 181908.848367 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [28]:
adv_sqft_model = gr.linear_regression.create(train_data, target='price', features=[
'bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode',
'condition', # condition of house				
'grade', # measure of quality of construction				
'waterfront', # waterfront property				
'view', # type of view				
'sqft_above', # square feet above ground				
'sqft_basement', # square feet in basement				
'yr_built', # the year built				
'yr_renovated', # the year renovated				
'lat', 'long', # the lat-long of the parcel				
'sqft_living15', # average sq.ft. of 15 nearest neighbors 				
'sqft_lot15', # average lot size of 15 nearest neighbors 
],validation_set=None)

Linear regression:

--------------------------------------------------------

Number of examples          : 17384

Number of features          : 18

Number of unpacked features : 18

Number of coefficients    : 127

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+---------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Training-rmse |

+-----------+----------+--------------+--------------------+---------------+

| 1         | 2        | 0.089372     | 3469012.450686     | 154580.940736 |

+-----------+----------+--------------+--------------------+---------------+

SUCCESS: Optimal solution found.

In [29]:
print sqft_model.evaluate(test_data)

{'max_error': 3486584.509381705, 'rmse': 179542.4333126903}

In [30]:
print adv_sqft_model.evaluate(test_data)

{'max_error': 3556849.413858208, 'rmse': 156831.1168021901}

In [31]:
179542.4333126903 - 156831.1168021901

22711.316510500183